version: 2.1

orbs:
  orb-tools: circleci/orb-tools@8.14.0

jobs:
  check_arm64_binary_has_been_released:
      steps:
        - run: test -f /tmp/be/bin-linux-arm64/buildevents

workflows:
  # build runs on checkins
  build:
    jobs:
      - orb-tools/lint
      - check_arm64_binary_has_been_released
      - orb-tools/publish-dev:
          checkout: true
          orb-name: honeycombio/buildevents
          orb-path: orb.yml
          publish-alpha-version: false
          publish-sha-version: false
          branch-sha-version-ref: dev:${CIRCLE_BRANCH}
          publish-branch-sha-version: true
          requires:
            - orb-tools/lint
            - check_arm64_binary_has_been_released
  promote:
    jobs:
      - orb-tools/publish:
          orb-path: orb.yml
          # the tags we use are vX.Y.Z but the publish orb wants just X.Y.Z
          # (without the leading v) Shell expansion needs an end val; hopefully
          # we never hit 20char
          orb-ref: honeycombio/buildevents@${CIRCLE_TAG:1:20}
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+/
            branches:
              ignore: /.*/
